@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion de olivido de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Porfavor revisa tu email para restaurar tu contraseña!
</p>
