@page "/admin"

@inherits IndexAdminBase
@inject NotificationService NS
@using uniformesV51.Model

@if (ElUser != null)
{
<CascadingValue Value="ElUser" Name="ElUserAll">
    <CascadingValue Value="BitacoraAll" Name="BitacoraAll">
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Inicio">
                    Algo
                </RadzenTabsItem>
                <RadzenTabsItem Text="Organizaciones" >
                    
                    va
                </RadzenTabsItem>
                <RadzenTabsItem Text="Usuarios">
                    <uniformesV51.Pages.Sistema.Registro />
                    
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </CascadingValue>
</CascadingValue>
}
else
{
    <div class="spiner"></div>
}
--Ttnka--
@code {
    
}
