@page "/admin"

@inherits IndexAdminBase
@using uniformesV51.Pages.Sistema
@inject NotificationService NS
@using uniformesV51.Model

@if (ElUser != null && !string.IsNullOrEmpty(ElUser.OrgId) && ElUser.OrgId.Length > 10)
{
<CascadingValue Value="ElUser" Name="ElUserAll">
    <CascadingValue Value="LosUsersAll" Name="LosUsersAll">
        <CascadingValue Value="LasOrgsAll" Name="LasOrgsAll">
            <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Inicio">
                    <MisDatos BitacoraC="BitacoraAll" />
                </RadzenTabsItem>
                <RadzenTabsItem Text="Organizaciones" >
                    <Org LeerOrgsC="LeerOrgsAll" BitacoraC="BitacoraAll"  />
                    
                </RadzenTabsItem>
                <RadzenTabsItem Text="Usuarios">
                    <RadzenAccordion>
                        <Items>
                            <RadzenAccordionItem Text="Nuevo Usuario" Icon="plus">
                                <Registro LeerOrgsC="LeerOrgsAll" BitacoraC="BitacoraAll" />
                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>
                   
                    <UsersList LeerUsersC="LeerUsersAll" BitacoraC="BitacoraAll" />

                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
}
else
{
    <div class="spiner"></div>
}
--Ttnka--
@code 
{
}
