@page "/admin"

@inherits IndexAdminBase
@using uniformesV51.Pages.Sistema
@inject NotificationService NS
@using uniformesV51.Model

@if (ElUser != null)
{
<CascadingValue Value="ElUser" Name="ElUserAll">
    
        <CascadingValue Value="LasOrgsAll" Name="LasOrgsAll">
            <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Inicio">
                    Algo
                </RadzenTabsItem>
                <RadzenTabsItem Text="Organizaciones" >
                    <Org LeerOrgsC="LeerOrgsAll" BitacoraC="BitacoraAll"  />
                    
                </RadzenTabsItem>
                <RadzenTabsItem Text="Usuarios">
                    <RadzenAccordion>
                        <Items>
                            <RadzenAccordionItem Text="Nuevo Usuario" Icon="plus">
                                <Registro LeerOrgsC="LeerOrgsAll" BitacoraC="BitacoraAll" />
                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>
                    

                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
        </CascadingValue>
    
</CascadingValue>
}
else
{
    <div class="spiner"></div>
}
--Ttnka--
@code 
{
}
